<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">

  <!-- Preprocessor variables -->
  <?define VERSION = "!(bind.FileVersion.fil37BD76C9FB847D5609D3F0AF148E18D9)" ?>
  <?define ScpToolkitFilesDir = "D:\Development\C#\ScpServer\bin" ?>

  <!-- Product info -->
  <Product Id="*" Name="ScpToolkit" Language="1033" Version="$(var.VERSION)"
           Manufacturer="Nefarius Software Solutions" UpgradeCode="2c3b0c81-5f32-4af5-8042-631f22ccf46a">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <!-- use single MSI file only -->
    <MediaTemplate EmbedCab="yes" />

    <!-- set setup icon and uninstall options -->
    <Icon Id="Setup.ico" SourceFile="Setup.ico" />
    <Property Id="ARPPRODUCTICON" Value="Setup.ico" />
    <Property Id='ARPURLINFOABOUT' Value='https://github.com/nefarius/ScpServer' />
    
    <!-- kill and restart processes using locked files -->
    <Property Id='MSIDISABLERMRESTART' Value='0' />
    <Property Id='MSIRMSHUTDOWN' Value='1' />

    <!-- always perform major upgrade and remove previous versions -->
    <Property Id="PREVIOUSVERSIONSINSTALLED" Secure="yes" />
    <Upgrade Id="2c3b0c81-5f32-4af5-8042-631f22ccf46a">
      <UpgradeVersion
        Minimum="1.5.0.0"
        Maximum="99.0.0.0"
        Property="PREVIOUSVERSIONSINSTALLED"
        IncludeMinimum="yes" IncludeMaximum="no" />
    </Upgrade>

    <!-- remove old versions before installation continues -->
    <InstallExecuteSequence>
      <RemoveExistingProducts Before='InstallInitialize' />
    </InstallExecuteSequence>

    <!-- Add basic installer UI -->
    <UIRef Id="WixUI_InstallDir" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />

    <!-- Customize UI -->
    <UI>
      <!-- These dialog references are needed for CloseApplication above to work correctly -->
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="MsiRMFilesInUse" />
      <!-- Here we'll add the GUI logic for installation and updating in a future post-->
    </UI>

    <Feature Id="ProductFeature" Title="ScpToolkitSetup" Level="1">
      <!-- Files to install -->
      <ComponentGroupRef Id="ScpToolkitFiles" />
      
      <!-- Shortcuts to create -->
      <ComponentRef Id="DriverInstallerDesktopShortcut" />
      <ComponentRef Id="SettingsManagerDesktopShortcut" />
      <ComponentRef Id="GamepadAnalyzerDesktopShortcut" />
      <ComponentRef Id="CleanWipeDesktopShortcut" />
      <ComponentRef Id="ServerDesktopShortcut" />
      <ComponentRef Id="MonitorDesktopShortcut" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <!-- Program Files folder -->
      <Directory Id="ProgramFilesFolder">
        <!-- Product name folder -->
        <Directory Id="INSTALLFOLDER" Name="ScpToolkit" />
      </Directory>

      <!-- Desktop folder for placing shortcuts -->
      <Directory Id="DesktopFolder" Name="Desktop" />
    </Directory>
  </Fragment>

  <!-- Desktop shortcuts -->
  <Fragment>
    <DirectoryRef Id="DesktopFolder">
      <!-- Driver installer shortcut -->
      <Component Id="DriverInstallerDesktopShortcut" Guid="B3051D5B-AA22-4A8F-8E15-CA1CA1779311">
        <Shortcut Id="DriverInstallerDesktopShortcut"
                  Name="ScpToolkit Driver Installer"
                  Target="[INSTALLFOLDER]ScpDriverInstaller.exe"
                  WorkingDirectory="INSTALLFOLDER" />
        <RegistryValue Root="HKCU" Key="Software\Nefarius Software Solutions\ScpToolkit" Name="installed"
                       Type="integer" Value="1" KeyPath="yes" />
      </Component>

      <!-- Settings manager shortcut -->
      <Component Id="SettingsManagerDesktopShortcut" Guid="970DB941-A5EE-4E6F-9110-4AF05CE382AD">
        <Shortcut Id="SettingsManagerDesktopShortcut"
                  Name="ScpToolkit Settings Manager"
                  Target="[INSTALLFOLDER]ScpSettings.exe"
                  WorkingDirectory="INSTALLFOLDER" />
        <RegistryValue Root="HKCU" Key="Software\Nefarius Software Solutions\ScpToolkit" Name="installed"
                       Type="integer" Value="1" KeyPath="yes" />
      </Component>

      <!-- Gamepad Analyzer shortcut -->
      <Component Id="GamepadAnalyzerDesktopShortcut" Guid="3240BCB6-5EE6-4C74-BE44-0A96F4DE5AFE">
        <Shortcut Id="GamepadAnalyzerDesktopShortcut"
                  Name="ScpToolkit Gamepad Analyzer"
                  Target="[INSTALLFOLDER]ScpGamepadAnalyzer.exe"
                  WorkingDirectory="INSTALLFOLDER" />
        <RegistryValue Root="HKCU" Key="Software\Nefarius Software Solutions\ScpToolkit" Name="installed"
                       Type="integer" Value="1" KeyPath="yes" />
      </Component>

      <!-- Clean Wipe shortcut -->
      <Component Id="CleanWipeDesktopShortcut" Guid="082C88B0-C1BC-4350-AF9E-5C83BA775DD5">
        <Shortcut Id="CleanWipeDesktopShortcut"
                  Name="ScpToolkit Clean Wipe Utility"
                  Target="[INSTALLFOLDER]ScpCleanWipe.exe"
                  WorkingDirectory="INSTALLFOLDER" />
        <RegistryValue Root="HKCU" Key="Software\Nefarius Software Solutions\ScpToolkit" Name="installed"
                       Type="integer" Value="1" KeyPath="yes" />
      </Component>

      <!-- Server shortcut -->
      <Component Id="ServerDesktopShortcut" Guid="2CBE77E3-F31D-477E-AA88-4B7189864E7D">
        <Shortcut Id="ServerDesktopShortcut"
                  Name="ScpToolkit Server Standalone (legacy)"
                  Target="[INSTALLFOLDER]ScpServer.exe"
                  WorkingDirectory="INSTALLFOLDER" />
        <RegistryValue Root="HKCU" Key="Software\Nefarius Software Solutions\ScpToolkit" Name="installed"
                       Type="integer" Value="1" KeyPath="yes" />
      </Component>

      <!-- Monitor shortcut -->
      <Component Id="MonitorDesktopShortcut" Guid="F6168A00-079B-4563-80B7-F92018921DD5">
        <Shortcut Id="MonitorDesktopShortcut"
                  Name="ScpToolkit Monitor (legacy)"
                  Target="[INSTALLFOLDER]ScpMonitor.exe"
                  WorkingDirectory="INSTALLFOLDER" />
        <RegistryValue Root="HKCU" Key="Software\Nefarius Software Solutions\ScpToolkit" Name="installed"
                       Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
