<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings"
                  type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ScpMonitor.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />
      <section name="ScpControl.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <applicationSettings>
    <ScpControl.Properties.Settings>
      <setting name="RootHubCommandRxHost" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="RootHubCommandRxPort" serializeAs="String">
        <value>26760</value>
      </setting>
      <setting name="RootHubNativeFeedRxHost" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="RootHubNativeFeedRxPort" serializeAs="String">
        <value>26761</value>
      </setting>
    </ScpControl.Properties.Settings>

    <ScpMonitor.Properties.Settings>
      <setting name="RootHubCommandRxHost" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="RootHubCommandRxPort" serializeAs="String">
        <value>26760</value>
      </setting>
    </ScpMonitor.Properties.Settings>
  </applicationSettings>
</configuration>