<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ScpControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <applicationSettings>
    <ScpControl.Properties.Settings>
      <setting name="RootHubCommandRxHost" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="RootHubCommandRxPort" serializeAs="String">
        <value>26760</value>
      </setting>
      <setting name="RootHubNativeFeedRxHost" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="RootHubNativeFeedRxPort" serializeAs="String">
        <value>26761</value>
      </setting>
    </ScpControl.Properties.Settings>


    <!-- This section contains the log4net configuration settings -->
    <log4net debug="false">
      <appender name="XmlFileAppender" type="log4net.Appender.FileAppender">
        <file value="Logs\ScpDsxMonitor_${USERNAME}.log.xml" />
        <appendToFile value="true" />
        <layout type="log4net.Layout.XmlLayoutSchemaLog4j">
          <locationInfo value="true" />
        </layout>
        <param name="ImmediateFlush" value="true" />
      </appender>

      <!-- Setup the root category, add the appenders and set the default priority -->
      <root>
        <level value="ALL" />
        <appender-ref ref="XmlFileAppender" />
        <!-- other appenders enabled here -->
      </root>
    </log4net>
  </applicationSettings>

  <system.web>
    <compilation debug="true" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.CodeAnalysis.Scripting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.CodeAnalysis" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.CodeAnalysis.CSharp.Scripting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>