<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ScpControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ScpControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <ScpControl.Properties.Settings>
      <setting name="RootHubNativeFeedHost" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="RootHubNativeFeedPort" serializeAs="String">
        <value>26761</value>
      </setting>
      <setting name="DumpHidReports" serializeAs="String">
        <value>False</value>
      </setting>
    </ScpControl.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <ScpControl.Properties.Settings>
      <setting name="FlipAxisLx" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FlipAxisLy" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FlipAxisRx" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FlipAxisRy" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DisableRumble" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DisableNativeFeed" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DisableSecureSimplePairing" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IdleTimout" serializeAs="String">
        <value>600000</value>
      </setting>
      <setting name="Ds3RumbleLatency" serializeAs="String">
        <value>128</value>
      </setting>
      <setting name="Ds4LightBarBrightness" serializeAs="String">
        <value>128</value>
      </setting>
      <setting name="Ds4Repair" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BusId" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SwapTriggers" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DeadZoneL" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DeadZoneR" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Ds4InputUpdateDelay" serializeAs="String">
        <value>128</value>
      </setting>
      <setting name="ForceBluetoothDriverReinstallation" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ForceDs3DriverReinstallation" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ForceDs4DriverReinstallation" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SoundsEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="StartupSoundFile" serializeAs="String">
        <value>Media\startup.ogg</value>
      </setting>
      <setting name="UsbConnectSoundFile" serializeAs="String">
        <value>Media\connect.wav</value>
      </setting>
      <setting name="UsbDisconnectSoundFile" serializeAs="String">
        <value>Media\disconnect.flac</value>
      </setting>
      <setting name="BluetoothConnectSoundFile" serializeAs="String">
        <value>Media\connect.wav</value>
      </setting>
      <setting name="BluetoothDisconnectSoundFile" serializeAs="String">
        <value>Media\disconnect.flac</value>
      </setting>
      <setting name="Ds3LEDsFlashingPeriod" serializeAs="String">
        <value>1500</value>
      </setting>
      <setting name="Ds3LEDsFunction" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Ds3PadIDLEDsFlashCharging" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Ds3LEDsCustom1" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Ds3LEDsCustom2" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Ds3LEDsCustom3" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Ds3LEDsCustom4" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsStartupSoundEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsUsbConnectSoundEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsUsbDisconnectSoundEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsBluetoothConnectSoundEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsBluetoothDisconnectSoundEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Pcsx2RootPath" serializeAs="String">
        <value />
      </setting>
      <setting name="IsPressureSensitivityModEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsVBusDisabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AlwaysDisconnectVirtualBusDevice" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SkipOccupiedSlots" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseAsyncHidReportProcessing" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ProfilesEnabled" serializeAs="String">
        <value>False</value>
      </setting>
    </ScpControl.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.CodeAnalysis.Scripting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.CodeAnalysis" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.CodeAnalysis.CSharp.Scripting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>