<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings"
                  type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ScpControl.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <ScpControl.Properties.Settings>
      <setting name="RootHubNativeFeedHost" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="RootHubNativeFeedPort" serializeAs="String">
        <value>26761</value>
      </setting>
    </ScpControl.Properties.Settings>
  </applicationSettings>
</configuration>