<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DBreeze" version="1.73.0" targetFramework="net45" />
  <package id="Fody" version="1.29.4" targetFramework="net45" developmentDependency="true" />
  <package id="HidSharp" version="1.5" targetFramework="net45" />
  <package id="InputSimulator" version="1.0.4.0" targetFramework="net45" />
  <package id="Libarius" version="1.14.1" targetFramework="net45" />
  <package id="LoadAssembliesOnStartup.Fody" version="1.7.0" targetFramework="net45" developmentDependency="true" />
  <package id="log4net" version="2.0.5" targetFramework="net45" />
  <package id="MadMilkman.Ini" version="1.0.5.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net45" />
  <package id="PropertyChanged.Fody" version="1.50.3" targetFramework="net45" developmentDependency="true" />
  <package id="ReactiveSockets" version="0.2.6" targetFramework="net45" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net45" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net45" />
  <package id="Rx-WinForms" version="2.2.5" targetFramework="net45" />
  <package id="Trinet.Core.IO.Ntfs" version="3.5.0.0" targetFramework="net45" />
</packages>