<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fody" version="1.29.4" targetFramework="net45" developmentDependency="true" />
  <package id="InputSimulator" version="1.0.4.0" targetFramework="net45" />
  <package id="Libarius" version="1.14.1" targetFramework="net45" />
  <package id="log4net" version="2.0.5" targetFramework="net45" />
  <package id="MadMilkman.Ini" version="1.0.5.0" targetFramework="net45" />
  <package id="PropertyChanged.Fody" version="1.50.3" targetFramework="net45" developmentDependency="true" />
</packages>