<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ScpDriverInstaller.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <applicationSettings>
        <ScpDriverInstaller.Properties.Settings>
            <setting name="VirtualBusClassGuid" serializeAs="String">
                <value>f679f562-3164-42ce-a4db-e7ddbe723909</value>
            </setting>
            <setting name="InfFilePath" serializeAs="String">
                <value>.\System\</value>
            </setting>
            <setting name="ScpServiceName" serializeAs="String">
                <value>SCP DSx Service</value>
            </setting>
        </ScpDriverInstaller.Properties.Settings>
    </applicationSettings>
</configuration>