<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoDependencyProperty.Fody" version="1.2.2.0" targetFramework="net451" developmentDependency="true" />
  <package id="Extended.Wpf.Toolkit" version="2.6" targetFramework="net451" />
  <package id="Fody" version="1.29.4" targetFramework="net451" developmentDependency="true" />
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.0.5" targetFramework="net451" />
  <package id="Infragistics.Themes.MetroDark.Wpf" version="1.0.0" targetFramework="net451" />
  <package id="LoadAssembliesOnStartup.Fody" version="1.7.0" targetFramework="net451" developmentDependency="true" />
  <package id="log4net" version="2.0.5" targetFramework="net451" />
  <package id="PropertyChanged.Fody" version="1.50.3" targetFramework="net451" developmentDependency="true" />
</packages>